In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from itertools import combinations
import scipy
import re

Problem 1

In [2]:
a = open('nutrient.txt')
lst = a.readlines()
p1_data = list(map(lambda x:re.sub('  +',' ',x).strip().split(' ')[1:],lst))

p1_df = pd.DataFrame(data=p1_data,columns=['Calcium','Iron','Protein', 'Vitamin A', 'Vitamin C']).astype(float)
p1_df

     Calcium    Iron  Protein  Vitamin A  Vitamin C
0     522.29  10.188   42.561     349.13     54.141
1     343.32   4.113   67.793     266.99     24.839
2     858.26  13.741   59.933     667.90    155.455
3     575.98  13.245   42.215     792.23    224.688
4    1927.50  18.919  111.316     740.27     80.961
..       ...     ...      ...        ...        ...
732   217.96   6.447   37.294     260.16     23.616
733   416.19   7.156   36.991     552.76     18.908
734    93.43   6.484   35.467     264.63     48.105
735   419.04   7.545   16.894      96.79    320.558
736  1156.49  17.252   69.045    1087.98    152.650

[737 rows x 5 columns]

q 1.1

In [3]:
p1_df.mean()

Calcium      624.049254
Iron          11.129900
Protein       65.803441
Vitamin A    839.635346
Vitamin C     78.928446
dtype: float64

In [4]:
p1_df.std()

Calcium       397.277540
Iron            5.984190
Protein        30.575756
Vitamin A    1633.539828
Vitamin C      73.595272
dtype: float64

q 1.2

In [5]:
h0=[1000, 15, 60, 800, 75] #setup null hypothesis h0 values

In [6]:
abs((p1_df.mean() - h0)/(p1_df.std()/ np.sqrt(p1_df.count()))) #z-score

Calcium      25.690389
Iron         17.557010
Protein       5.152786
Vitamin A     0.658698
Vitamin C     1.449121
dtype: float64

In [7]:
p_values=scipy.stats.norm.sf(abs((p1_df.mean() - h0)/(p1_df.std()/ np.sqrt(p1_df.count()))))*2 #transfer t-value to p-value, two-sided

In [8]:
print(p_values<0.05) #result

[ True  True  True False False]

q 1.3

Based on the t-test results we obtained in step 2, Calcium, Iron and Protein are all rejected but Vitamin A and C are not rejected. The result indicates that the sample population did not reach the recommended intake level for Calcium, Iron and Protein. However, the sample population possibly reached the recommended intake level of Vitamin A and C. I would say the US women do not meet the recommended nutrient intake amount since they failed to meet 3 out of 5 of the standards. I would suggest to the public that they should consume more food containing all five types of the nutrients especially Calcium, Iron and Protein. Even though US women possibly reached the recommended level of Vitamin A and C, people generally should still consume

Problem 2

In [9]:
b = open('multiple.txt')
lst = b.readlines()
p2_data = list(map(lambda x:x.strip().split(' '),lst)) #read data

In [10]:
p2_df = pd.DataFrame(data=p2_data).astype(float) #make data into dataframe
p2_df #var and obs

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,1.747662,1.114154,1.900115,2.677641,3.219533,1.188286,2.465380,2.967892,1.365203,2.269891,...,0.894277,-1.293146,-1.070990,0.263181,1.354995,0.279457,0.980817,1.297687,-0.595363,-0.353399
1,1.709540,2.178064,2.752464,2.948217,1.657075,2.830056,2.563682,1.832659,2.356763,0.831286,...,-1.083143,-0.068277,-0.582402,-1.284537,0.789309,0.161570,-0.076299,-0.336776,0.899851,0.393620
2,2.391362,3.342728,1.559341,2.407792,1.917276,1.973562,1.887841,2.066242,2.184989,2.346512,...,-0.239927,1.440747,-0.640490,0.219711,1.047456,-0.313826,0.231972,0.945865,-1.632269,1.185324
3,2.341854,2.172060,1.028088,1.841931,1.517677,0.982251,1.981838,2.628414,3.425765,0.793864,...,0.878121,-0.705710,0.981031,-1.446664,-0.311183,0.536940,-0.639328,-0.430591,-2.220153,-0.441856
4,3.445349,-0.261149,1.108768,2.472473,2.865143,2.361809,2.407838,3.107886,2.320515,0.658484,...,0.117548,0.945937,0.715850,0.347381,0.054541,0.162967,0.678871,-1.304972,-0.005204,-0.358206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5.041198,1.619071,1.642888,1.963205,0.234810,1.843985,0.967495,1.910681,2.945714,3.561969,...,-0.239288,1.699939,0.187449,0.382381,0.391799,-0.759598,0.666542,-0.239462,-1.509418,-0.624299
96,2.364375,1.732123,2.361216,1.654104,2.210516,-0.564806,1.701118,1.358194,1.476859,1.032758,...,0.251157,-1.384411,-1.138922,-2.311561,-0.146611,-0.357875,-0.358509,0.309504,-0.718878,-0.025846
97,0.972304,2.467291,1.263507,0.745767,1.371747,2.126853,1.238945,0.829157,2.959358,1.784270,...,1.427014,-0.889107,-0.349956,0.797430,0.790293,1.571766,1.382468,0.646755,1.877501,-1.200487
98,2.167585,0.137981,1.921819,4.021082,1.674903,1.451993,0.538821,1.808357,2.252083,3.030382,...,0.295019,-1.522533,0.625780,-0.081308,-0.360414,0.133391,-1.118459,-0.994614,-0.765933,-1.328757
99,1.363061,1.655193,1.031913,2.916062,3.401672,0.688996,1.440560,4.481397,2.078944,1.443082,...,0.746727,-0.745516,-0.070441,-0.991714,0.228577,-1.559625,2.315117,-0.511457,2.370504,-0.012762

q2.1

In [11]:
h0=[]  #setup h0 in q2.1
for i in range(50):
    h0.append(0)

In [12]:
p_values=scipy.stats.norm.sf(abs((p2_df.mean() - h0)/(p2_df.std()/ np.sqrt(p2_df.count()))))*2 #transfer t-score to p-value, two-sided
p_values

array([3.26663423e-076, 2.82144426e-071, 9.74785586e-075, 2.22460110e-091,
       6.84342738e-082, 6.05620574e-073, 8.67540372e-105, 1.56148658e-078,
       4.37334614e-077, 8.91756209e-119, 8.49792249e-001, 3.36423564e-001,
       8.42952878e-001, 2.32454906e-001, 8.34214190e-001, 3.38677723e-001,
       4.47724565e-001, 8.98598780e-001, 4.83894158e-001, 7.98879815e-002,
       7.42885015e-001, 4.32586630e-001, 5.50823860e-001, 4.75842155e-001,
       7.56738898e-001, 1.32235784e-001, 9.92707837e-001, 2.91866986e-001,
       6.77425244e-001, 1.86849941e-001, 4.69979497e-001, 8.98842212e-002,
       4.71971579e-001, 9.18793047e-001, 2.10903045e-001, 6.51002406e-001,
       3.38540244e-001, 2.18195174e-001, 8.80317411e-001, 7.01201150e-002,
       7.16382153e-001, 6.46293610e-001, 6.90648620e-001, 2.26056846e-002,
       2.16206358e-001, 7.67191782e-001, 3.46646140e-001, 1.33570674e-001,
       8.88393244e-001, 7.30931590e-001])

In [13]:
print(p_values<=0.1) #If True, it means reject; If False, it means we can't reject H0

[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False  True False False False False
 False False False False False False False  True False False False False
 False False False  True False False False  True False False False False
 False False]

q 2.2

In [14]:
number_type1_err = sum(p_values[10:]<=0.1) #number of Type I error, which is rejection on var 11~50
number_type1_err

4

In [15]:
1-(1-0.1)**50 #FWER

0.9948462247926799

In [16]:
total_reject = sum(p_values<=0.1)
number_type1_err/total_reject   #FDP

0.2857142857142857

q 2.3

In [17]:
new_sig = 0.1/50  #new significant value after Bonferroni Correction
print(p_values<=new_sig) #If True, it means reject; If False, it means we can't reject H0

[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [18]:

1-(1-new_sig)**50 #FWER after Bonferroni Correction

0.09525318199596433

q 2.4

In [19]:
sorted_p = p_values.copy().tolist() 
sorted_p.sort() # sort the list to increasing order     (note:order of original p-value list stay the same)
k=0
for i in range(50):
    if sorted_p[i] <= (i+1)*0.1/50: # find the largest k such that p(k) <= k/m * a ; i+1 since i starts with 1 instead of
        k=i
        
print(k) # the largest k that we find, our k start at 0

9

In [20]:
bh_result = (p_values<=sorted_p[k]) # find H0 the p(j) <= p(k*)
print(bh_result)  

#If True, it means reject; If False, it means we can't reject H0
#result with bh procedure

[ True  True  True  True  True  True  True  True  True  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [21]:
1-(1-sorted_p[k])**50 #FWER with bh procedure

0.0

In [22]:
total_reject = sum(bh_result)
sum((p_values[10:]<=sorted_p[k]))/total_reject   #FDP with bh procedure

0.0

Comparing to step 3: FWER for step 4 is smaller, and FDP value are both 0.

Comparing to step 1,2: Both FWER and FDP are smaller.

Everyone in the group contributed equally for this homework